
<div class="container">

<div class="descricao-container">
    <div class="product-details">
        <h2>Nome do Produto</h2>
        <h4>Subtítulo</h4>
        <p>Preço/Valor: $99,99</p>
        <p>Descrição do fone de ouvido: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac erat nec ipsum tempus ultrices. Nulla facilisi. 
            Nulla facilisi. Proin non leo sit amet justo ultricies luctus at nec ipsum.</p>
        
        <div class=btn>
        <button class="btn-detalhes">Detalhes</button>
        <button class="btn-add-carrinho">Adicionar no Carrinho</button>
        </div>
    
    </div>

</div>

<div class="slider-container">
    
    <div style="display: flex; align-items: center; justify-content: space-between;">
        <button class="slider-button slider-button-left" @onclick="PreviousSlide">&lt;</button>

        <div >
            <img  src="@Slides[currentIndex].ImageUrl" alt="Slide Image" style="max-width: 100%; max-height: 100%; "/>
        </div>
        
        <button class="slider-button slider-button-right" @onclick="NextSlide">&gt;</button>
    </div>

</div>

</div>

@code {
    [Parameter]
    public List<SliderSlide> Slides { get; set; }

    public class SliderSlide
    {
        public string ImageUrl { get; set; }
    }
    private int currentIndex = 0;

    // Define any properties and logic for the slider component here, if needed.
    private void NextSlide()
    {
        currentIndex = (currentIndex + 1) % Slides.Count;
    }

    private void PreviousSlide()
    {
        currentIndex = (currentIndex - 1 + Slides.Count) % Slides.Count;
    }
}